@import url("https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap");

.season {
  .accordion {
    .card {
      background-color: transparent;
      //   border-bottom: 1px solid rgba(#4c5a67, 0.5);
      button {
        padding: 6px 0;
      }
      .card-header {
        padding: 0 0px;
        text-align: left;
        border-bottom: 1px solid rgba(#4c5a67, 0.5);
        p {
          display: flex;
          .icon {
            flex: 0 0 5%;
            max-width: 5%;
            position: absolute;
            right: 0;
          }
        }
        .season-number {
          flex: 0 0 10%;
          max-width: 10%;
          text-transform: uppercase;
          color: $whiteSecondLayer;
          font-weight: bold;
          font-family: "Open Sans", sans-serif;
          &::after {
            content: " - ";
          }
        }
        .season-title {
          flex: 0 0 80%;
          max-width: 80%;
          font-family: "Open Sans", sans-serif;
          color: #4c5a67;
          &:hover {
            color: $whiteSecondLayer;
          }
        }
        .icon {
          fill: $whiteSecondLayer;
          // float: right;
        }
      }
      .btn-link {
        &:hover,
        &:focus {
          text-decoration: none !important;
          color: $whiteSecondLayer;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .season {
    .accordion {
      .card {
        .card-header {
          p {
            .season-number {
              flex: 0 0 20%;
              max-width: 20%;
            }
            .season-title {
              flex: 0 0 75%;
              max-width: 75%;
            }
          }
        }
      }
    }
  }
}
